<?xml version="1.0"?>
<scenario name="call">

<send retrans="500">
<![CDATA[
INVITE sip:[field3]@[field1] SIP/2.0
Via: SIP/2.0/[transport] {{ ip_server }}:[local_port];branch=[branch]
Max-Forwards: 70
From: <sip:[field0]@[field1]>;tag=[pid]SIPpTag01[call_number]
To: <sip:[field3]@[field1]>
Contact: <sip:[field0]@{{ ip_server }}:[local_port];transport=[transport]>
Call-ID: [call_id]
CSeq: [cseq] INVITE
[routes]
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Supported: replaces, 100rel, norefersub
User-Agent: minhtuan1407
Content-Type: application/sdp
Content-Length:  [len]

v=0
o=- 3836498267 3836498267 IN IP[local_ip_type] {{ ip_server }}
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio [media_port] RTP/AVP 8 0 101
c=IN IP[media_ip_type] {{ ip_server }}
b=TIAS:64000
a=rtcp:4005 IN IP[media_ip_type] {{ ip_server }}
a=sendrecv
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=ssrc:1096749908 cname:54703c99026204ec
]]>
<action><assignstr assign_to="remote_addr" value="[field3]@[field1]:[remote_port]"/><assignstr assign_to="local_addr" value="[field0]@{{ ip_server }}:[local_port]"/><assignstr assign_to="call_addr" value="[field3]@[field1]:[remote_port]"/></action>
</send>
<recv response="100" optional="false"/>
<!-- <recv response="407" auth="true" option="false"/> -->

<send>
<![CDATA[
ACK sip:[field3]@[field1]:[remote_port] SIP/2.0
Via: SIP/2.0/[transport] {{ ip_server }}:[local_port];branch=[branch-3]
From: [field0] <sip:[field0]@[field1];tag=[pid]SIPpTag01[call_number]
To: <sip:[field3]@[field1]>[peer_tag_param]
Call-ID: [call_id]
CSeq: [cseq] ACK
[routes]
Content-Length:  0
]]>
</send>

<!-- <send retrans="500">
<![CDATA[
INVITE sip:[field3]@[field1] SIP/2.0
Via: SIP/2.0/[transport] {{ ip_server }}:[local_port];branch=[branch]
Max-Forwards: 70
From: <sip:[field0]@[field1]>;tag=[pid]SIPpTag01[call_number]
To: <sip:[field3]@[field1]>
Contact: <sip:[field0]@{{ ip_server }}:[local_port];transport=[transport]>
Call-ID: [call_id]
CSeq: [cseq] INVITE
[routes]
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Supported: replaces, 100rel, norefersub
User-Agent: minhtuan1407
[field2]
Content-Type: application/sdp
Content-Length:  [len]

v=0
o=- 3836498267 3836498267 IN IP[local_ip_type] {{ ip_server }}
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio [media_port] RTP/AVP 8 0 101
c=IN IP[media_ip_type] {{ ip_server }}
b=TIAS:64000
a=rtcp:4005 IN IP[media_ip_type] {{ ip_server }}
a=sendrecv
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=ssrc:1096749908 cname:54703c99026204ec
]]>
</send> -->

  <recv response="100" optional="true"/>
  <recv response="180" optional="true"/>
  <recv response="183" optional="true"/>
  <recv response="200" rrs="true" rtd="true">
    <action>
      <ereg regexp="&lt;sip:(.*)&gt;.*;tag=([^;]*)" search_in="hdr" header="To:" assign_to="dummy,remote_addr,remote_tag"/>
    </action>
  </recv>

<send>
<![CDATA[
ACK [next_url] SIP/2.0
Via: SIP/2.0/[transport] {{ ip_server }}:[local_port];branch=[branch]
Max-Forwards: 70
From: <sip:[field0]@[field1]>;tag=[pid]SIPpTag01[call_number]
To: <sip:[field3]@[field1]>[peer_tag_param]
Call-ID: [call_id]
CSeq: [cseq] ACK
[routes]
Content-Length: 0
]]>
</send>

<nop>
  <action>
    <exec rtp_stream="Lost-Star-alaw.wav,-1,8,PCMA/8000" />
  </action>
</nop>

<pause milliseconds="{{ request_duration }}000"/>

<send>
<![CDATA[
BYE [next_url] SIP/2.0
Via: SIP/2.0/[transport] {{ ip_server }}:[local_port];branch=[branch-3]
Max-Forwards: 70
From: <sip:[field0]@[field1]>;tag=[pid]SIPpTag01[call_number]
To: <sip:[field3]@[field1]>[peer_tag_param]
Call-ID: [call_id]
CSeq: [cseq] BYE
[routes]
User-Agent: minhtuan1407
Content-Length: 0
]]>
</send>
  <recv response="200"/>
  <Reference variables="remote_addr,local_addr,call_addr,dummy,remote_tag"/>
</scenario>
